.chante{
    background-image: url(check.gif);
    background-size: cover;
}

.linkOne{
    background-image: url(nene.jpeg);
}

.linkTwo{
    background-image: url(spider.jpeg);
}

.linkThree{
    background-image: url(dede.jpg);
    background-color: black;
}

.linkFour{
    background-image: url(walk.jpg);
}

.linkSix{
    background-image: url(dedeFlow.jpeg);
}

.linkFive{
    background-image: url(blumen.JPG);
}

.start{
    background-image: url(Gänseblümchen.jpg);
    background-size:cover;
}

.linkFive, .linkFour, .linkOne, .linkThree, .linkTwo{
    background-color: black;
    background-size: 1000px, 800px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.Bilder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}
/* Button Index */
.button1{ background-color: rgb(255, 234, 0);
  border: none;
  color: rgb(70, 70, 69);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
    .container{
        height: 200px;
        position: relative;
        border: 3px rgb(255, 234, 0);
    }
    .center{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,600%);
        transform: translate(-50%,600%);
    }
    .button1:hover {
        background-color: white;
        color: rgb(255, 234, 0);
    }
    .button:active{
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

/* Anderen Buttons */
    .btn{ background-color:rgb(0, 0, 0);
        border: none;
        color: rgb(240, 138, 216);
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
    }
    .btn-container{
        height: 100%;
        position: relative;
        border: 3px rgb(0, 0, 0);
    }
    .btn-center{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,150%);
        transform: translate(-50%,150%);
    }
    .btn:hover {
        background-color: rgb(240, 138, 216);
        color: rgb(0, 0, 0);
    }
    .button:active{
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


.textbox{
    background: rgba(0, 0, 0, 0.5); /* Schwarz, 50% durchsichtig */
    color: white;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'EB Garamond'; font-size: 22px;
}

.center-wrapper{
    height: 100vh;                
    display: flex;
    justify-content: center;      
    align-items: center;
}          

h1{
    text-align: center;
    color: white;
    font-size: 70px;
}

@media (max-width: 600px) {
    .menu {display: none}
    .content {width: 100%}
}
@media (max-width: 600px) {
  .button-container {
    flex-direction: column; /* Buttons untereinander */
    align-items: stretch;}
}